 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('images/bg.jpg'); /* background image added */
    background-size: cover; /* image screen ke size ke hisaab se fit hogi */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    color: #333;
}

